.ins-tab-img {
    width: 50px;
}



.user-img {
    width: 40px;
}
.fl-sp {
    margin-left: 20%;
}
.footer-links {
    list-style-type: none;
}


@media (max-width: 575px) {
    .footer-flex {
        flex-direction: column-reverse;
    }
    .f-b {
        border-right: none !important;
    }
    .fl-sp {
        margin-left: 0;
    }
    .log-i {
        width: 100% !important;
    }
}